<ion-content>
  <div class="container">
    <div class="row">
      <div class="col" style="text-align: center;">
        <div class="top-padding">
        </div>
        <p class="Quick-Draw-Game">Quick Draw Game</p>
        <button class="btn btn-default btn-rounded Create-data-set" [routerLink]="'/dataset'" style="margin-top: 100px;">Create Data Set</button>
        <br>
        <button class="btn btn-default btn-rounded Create-data-set" [routerLink]="'/playGame'">Play Game</button>
      </div>
    </div>
  </div>
</ion-content>
